mat-card{
  margin-top: 15px;
  margin-left: 15px;
  width: 250px;
  height:150px;
  text-align: center;
}
.add{
  background-color: transparent;
  border:2px dashed white;
  color:white
}
.period{
  color:#666;
}
