
<mat-toolbar class="header">
  <div class="filler"></div>
    <button mat-mini-fab color="accent" class="editButtons" matTooltip="Create" (click)="openBottomSheet()" >+</button><!-- add -->
    <button mat-mini-fab color="accent" class="editButtons" matTooltip="Profile"></button><!-- delete -->
    <!--<button mat-mini-fab color="accent" class="editButtons" ></button>-->
</mat-toolbar>

<mat-sidenav-container class="sidenav" >
  <mat-sidenav  mode="side" opened>

    <!-- Nav buttons -->
    <button mat-flat-button class ="navButtons" color='accent' routerLink="/assignemnts" matTooltip="Assignments">Assignments</button>
    <br>
     <button mat-flat-button class="navButtons" color='accent' routerLink="/notes" matTooltip="Notes">Notes</button>
    <br>
    <!-- <button mat-flat-button class="navButtons" color='accent' routerLink="/FCardCreate">Flashcards</button>
    -->
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- shows views on button press -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>  
</mat-sidenav-container>
