h3 {
    margin: 0 0 10px;
    color: white
  }
  
  pre {
    background-color: transparent;
    padding: 15px;
  }

  div{
    color:black
  }
  th{
    color:white;
    background-color: transparent;
  }
  input{
    background-color: transparent;
    color:white
  }
  .add{
    background-color: transparent;
    border: 2px dashed white;
    width:100%;
    color:white
    
  }
  body{
    padding:50px;
    background-color: #333
  }


  